/*モバイル＆タブレット用 左ナビCSS
--------------------------------------------------*/
@media  (max-width: 1023px) {

    #menu { display: none; }
    .mm-opening #mmenu-box { display: inherit; }

    #mobile_header h1 {
        top: 15px !important;
        left: 50px !important;
    }

    #mobile_header #bt_mobile_nav {
        top: 6px !important;
        left: 6px !important;
    }

    .caret { display: none; }



    /* カスタマイズ
    --------------------------------------*/

    html.mm-opened,
    html.mm-opened body{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }


    html.mm-opened .mm-page{
        height: 100%;
        overflow: hidden;
        position: absolute;
    }

    .mm-menu.mm-current{
        display: block !important;
    }

    html.mm-opened .mm-page {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    html.mm-opened.mm-opening .mm-page, html.mm-opened.mm-opening #mm-blocker, html.mm-opened.mm-opening .mm-fixed-top, html.mm-opened.mm-opening .mm-fixed-bottom {
        left: 0;
    }

    .mm-listview { text-align: left; }
    .mm-listview > li:not(.mm-divider):after {
        border-bottom-width: 0px !important;
    }

    .mm-listview li a,
    .mm-listview li span { font-size: 16px !important;}
    .mm-listview li { border-bottom: solid 1px #ddd !important; }

}
